* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Josefin Sans', sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(80deg, #242424 50%, #272727 50%);

    overflow-x: hidden;
}
