.logo {
    position: absolute;

    border-radius: 50%;

    left: 25%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.logo-rotate {
    @extend .logo;

    transform: translate(-50%, -50%) rotateZ(-15deg);
}