@import "globals";

.container {
    background: #36454F;
    height: auto;
}

// header
header {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 15px 15px;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
        width: 100px;
        height: 100px;

        object-fit: cover;
        border-radius: 50%;

        @media only screen and (max-width: 720px) {
            width: 75px;
            height: 75px;
        }
    }
}

// articles
.articles {
    position: relative;
    width: 100%;
    height: auto;

    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    position: relative;
    width: 720px;
    height: 220px;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 720px) {
        flex-direction: column;
        width: 300px;
        height: auto;
    }

    .article__thumbnail {
        position: relative;
        width: 40%;
        height: 100%;

        @media only screen and (max-width: 720px) {
            width: 100%;
            height: 230px;
        }
        
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50px;
        }
    }

    .article__content {
        position: relative;
        width: 60%;
        height: 100%;

        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h2,a {
            width: 100%;
            color: white;
            text-decoration: none;
            font-size: 30px;
        }

        p {
            width: 100%;
            font-size: 20px;
            line-height: normal;
            color: white;
            font-weight: 300;
        }

        p:last-child {
            font-weight: 400;
        }

        @media only screen and (max-width: 720px) {
            width: 100%;
            height: auto;
            padding: 0 15px;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15px;
            
            h2,a {
                font-size: 25px;
            }

            p {
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}

article:first-child {
    margin-top: 0;
}