<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Luca Palmisano - Coding</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon/icon.ico',_external=True) }}" type="image/x-icon">
    <meta name="description" content="Hi, I'm Luca Palmisano. I've been in coding since 2014. I can easily work with programs such as python, html, css javascrpt."> 
    <meta name="keywords" content="Coding, Python, Javascript, HTML, CSS, Luca Palmisano">

    <meta property="og:title" content="Luca Palmisano - Coding" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Hi, I'm Luca Palmisano. I've been in coding since 2014. I can easily work with programs such as python, html, css javascrpt.">
    <meta property="og:url" content="{{ url_for('routes.index',_external=True) }}" />
    <meta property="og:image" content="{{ url_for('static',filename='images/small/logo_lite.jpg',_external=True) }}" />
    <meta property="og:site_name" content="Luca Palmisano">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@PalmisanoLuca1">
    <meta name="twitter:title" content="Luca Palmisano - Coding">
    <meta name="twitter:description" content="Welcome to my website">
    <meta name="twitter:image" content="{{ url_for('static',filename='images/small/logo_lite.jpg',_external=True) }}">

    <!-- Theme color for mobile browser -->
    <meta name="theme-color" content="black" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/blog.css',_external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='uikit/uikit.min.css',_external=True) }}">
    <!-- Javascript -->
    <script src="{{ url_for('static',filename='uikit/uikit.min.js',_external=True) }}"></script>
    <script src="{{ url_for('static',filename='uikit/uikit-icons.min.js',_external=True) }}"></script>
    <script src="{{ url_for('static',filename='js/clamp.min.js',_external=True) }}"></script>
</head>
<body>
    <div class="container">
        <!-- Main Section -->
        <div class="uk-section uk-flex uk-flex-center uk-flex-middle uk-flex-column" style="background: black; height: 100%;">
            <div class="uk-border-circle" style="background: white; width: 300px; height: 300px;" uk-scrollspy="cls: uk-animation-scale-up">
                <img class="uk-border-circle" src="{{ url_for('static',filename='images/small/logo_lite.jpg',_external=True) }}" alt="Logo">
            </div>
            <h1 class="uk-heading-medium" style="color: white; letter-spacing: 25px; text-align: center;" uk-scrollspy="cls: uk-animation-fade">Welcome to my blog</h1>
        </div>



        <!-- Other Posts -->
        <div class="posts-background">
            <div class="uk-container uk-margin-top" style="max-width: 1150px; padding: 0px 50px;">
                <h1 class="uk-heading-medium" style="font-weight: bold; text-align: center; color: black;">Articles</h1>
                <div class="uk-section uk-flex uk-flex-center uk-flex-wrap" style="width: 100%; margin: 0;" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
                    {% for article in articles %}
                    <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" style="width: 320px; background: white; padding: 20px; margin: 10px; border: 1px solid #CCCCCC; border-radius: 10px;">
                        <img src="{{ article.thumbnail }}" alt="Background" style="margin-bottom: 30px; border-radius: 10px; width: 100%;">
                        <h1 style="font-size: 1.625rem; font-weight: normal; margin: 0; margin-bottom: 30px; ">{{ article.title }}</h1>
                        <a href="{{ url_for('routes.article', id=article.id,_external=True) }}" style="background: black; border-radius: 20px; padding: 13px 30px; color: white; font-weight: bold; text-decoration: none;">
                            <img src="{{ url_for('static', filename='svg/book.svg',_external=True) }}" alt="read_post">
                            Read article
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</html>