<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Luca Palmisano - Coding</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon/icon.ico',_external=True) }}" type="image/x-icon">
    <meta name="description" content="Hi, I'm Luca Palmisano. I've been in coding since 2014. I can easily work with programs such as python, html, css javascrpt."> 
    <meta name="keywords" content="Coding, Python, Javascript, HTML, CSS, Luca Palmisano">

    <!-- Social Media -->
    <meta property="og:title" content="Luca Palmisano - Coding" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Hi, I'm Luca Palmisano. I've been in coding since 2014. I can easily work with programs such as python, html, css javascrpt.">
    <meta property="og:url" content="{{ url_for('routes.index',_external=True) }}" />
    <meta property="og:image" content="{{ url_for('static',filename='images/small/logo_lite.jpg',_external=True) }}" />
    <meta property="og:site_name" content="Luca Palmisano">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@PalmisanoLuca1">
    <meta name="twitter:title" content="Luca Palmisano - Coding">
    <meta name="twitter:description" content="Welcome to my website">
    <meta name="twitter:image" content="{{ url_for('static',filename='images/small/logo_lite.jpg',_external=True) }}">

    <!-- Theme color for mobile browser -->
    <meta name="theme-color" content="black" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css',_external=True) }}">
</head>
<body>
    <div class="container">
        <main>
            <img src="{{ url_for('static',filename='images/small/logo_lite.jpg',_external=True) }}" alt="Luca Palmisano Logo">
        </main>

        <section>
            <div class="section-title">
                <h2>About Me</h2>
            </div>
            <div class="section-content about">
                <div class="about__image">
                    <img src="{{ url_for('static',filename='images/small/background_2_lite.png',_external=True) }}" alt="">
                </div>
                <p class="about__content dropcap">
                    Hi, My name is Luca Palmisano. I’m 18 years old and I’m currently studying computer science at university.<br><br>
                    I’ve been coding for several years now. Through the years, what was once a hobby has became a passion. I have always been interested in discovering new things and this has helped me to expand my knowledge of information technology.<br><br>
                    Besides that I am enjoying living a student’s life, having fun with my friends, playing games, etc.Well, there you have it, this is me! This is who I am!
                </p>
            </div>
        </section>

        <section style="height: auto; min-height: 100%;">
            <div class="section-title">
                <h2>My Work</h2>
            </div>
            <div class="section-content work">
                <div class="work-container">
                    <div class="work-media">
                        <img src="https://images.unsplash.com/photo-1534870439272-475575042b61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                    <div class="work-body">
                        <h3 class="work-title">My web portfolio</h3>
                        <div class="work-techonologies">
                            <p>Used technologies</p>
                            <p>Python</p>
                            <p>Javascript</p>
                            <p>Sass</p>
                        </div>
                        <a class="work-view-btn" href="#">View Project</a>
                    </div>
                </div>
                <div class="work-container">
                    <div class="work-media">
                        <img src="https://images.unsplash.com/photo-1534870439272-475575042b61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                    <div class="work-body">
                        <h3 class="work-title">My web portfolio</h3>
                        <div class="work-techonologies">
                            <p>Used technologies</p>
                            <p>Python</p>
                            <p>Javascript</p>
                            <p>Sass</p>
                        </div>
                        <a class="work-view-btn" href="#">View Project</a>
                    </div>
                </div>
                <div class="work-container">
                    <div class="work-media">
                        <img src="https://images.unsplash.com/photo-1534870439272-475575042b61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                    <div class="work-body">
                        <h3 class="work-title">My web portfolio</h3>
                        <div class="work-techonologies">
                            <p>Used technologies</p>
                            <p>Python</p>
                            <p>Javascript</p>
                            <p>Sass</p>
                        </div>
                        <a class="work-view-btn" href="#">View Project</a>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div>
                <h3>Website Design</h3>
                <h3>Luca Palmisano</h3>
                <div class="socials">
                    <a title="Check my stackoverflow profile" href="https://stackoverflow.com/users/13569159/lucino772?tab=profile" target="blank_"><img src="{{ url_for('static',filename='images/icon/socials/stack_overflow_icon.svg',_external=True) }}" alt="stack_overflow"></a>
                    <a title="Check my github profile" href="https://github.com/Lucino772" target="blank_"><img src="{{ url_for('static',filename='images/icon/socials/github_icon.svg',_external=True) }}" alt="github"></a>
                    <a title="Check my instagram profile" href="https://www.instagram.com/lucapalmi772/" target="blank_"><img src="{{ url_for('static',filename='images/icon/socials/instagram_icon.svg',_external=True) }}" alt="instagram"></a>
                    <a title="Check my fiverr profile" href="https://www.fiverr.com/lucino772" target="blank_"><img src="{{ url_for('static',filename='images/icon/socials/fiverr_icon.png',_external=True) }}" alt="fiverr"></a>
                </div>
            </div>
            <div>
                <h3>Images</h3>
                <h3><a title="Check fabiano's instagram account" href="https://www.instagram.com/fabianopalmisano/" target="blank_">@fabianopalmisano</a></h3>
            </div>
        </footer>
    </div>
</body>
</html>