@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.container {
  background: #36454F;
  height: auto;
}

header {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 15px 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

header img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 720px) {
  header img {
    width: 75px;
    height: 75px;
  }
}

.articles {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article {
  position: relative;
  width: 720px;
  height: 220px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 720px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    height: auto;
  }
}

article .article__thumbnail {
  position: relative;
  width: 40%;
  height: 100%;
}

@media only screen and (max-width: 720px) {
  article .article__thumbnail {
    width: 100%;
    height: 230px;
  }
}

article .article__thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
}

article .article__content {
  position: relative;
  width: 60%;
  height: 100%;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article .article__content h2, article .article__content a {
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

article .article__content p {
  width: 100%;
  font-size: 20px;
  line-height: normal;
  color: white;
  font-weight: 300;
}

article .article__content p:last-child {
  font-weight: 400;
}

@media only screen and (max-width: 720px) {
  article .article__content {
    width: 100%;
    height: auto;
    padding: 0 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  article .article__content h2, article .article__content a {
    font-size: 25px;
  }
  article .article__content p {
    font-size: 16px;
    margin-top: 10px;
  }
}

article:first-child {
  margin-top: 0;
}
/*# sourceMappingURL=blog.css.map */