
/* Logo in main section */
.logo-rounded {
    position: relative;

    width: 200px;
    height: 200px;

    border-radius: 50%;

    background: white;
}

.logo-rounded > img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Logo in navigation bar */
.logo-menu {
    position: relative;
    width: 75px;
    width: 75px;
}

.logo-menu > img {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Images generic classes */
.image-blur-border::after {
    position: absolute;
    content: '';

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: 
        linear-gradient(rgba(255, 255, 255, 0) 90%, white 100%),
        linear-gradient(to left,rgba(255, 255, 255, 0) 50%, white 100%);
    z-index: 10;
}

