@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

main {
  width: 100%;
  height: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  section {
    height: auto;
  }
}

section .section-title {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 0 0 40px 0;
  text-align: center;
}

section .section-title h2 {
  font-size: 50px;
  font-weight: bold;
}

section .section-content {
  position: relative;
  width: 100%;
  height: calc(100% - 91px);
  max-width: 1200px;
}

.about {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__image {
  position: relative;
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .about__image {
    width: 100%;
    height: 45vh;
    margin-bottom: 30px;
  }
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}

.about__image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(white), color-stop(25%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 50%), linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 25%);
}

.about__content {
  position: relative;
  width: 50%;
  max-width: 580px;
  padding: 0 50px;
}

@media only screen and (min-width: 800px) {
  .about__content::first-letter {
    display: block;
    float: left;
    font-size: 4.5rem;
    line-height: 1;
    margin-right: 10px;
    margin-bottom: -2px;
    margin-top: 1.1%;
  }
}

@media only screen and (max-width: 800px) {
  .about__content {
    padding: 0 5px;
    width: 100%;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

.work-container {
  position: relative;
  background: white;
  width: 375px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(148, 148, 148, 0.3);
          box-shadow: 0px 0px 2px 1px rgba(148, 148, 148, 0.3);
}

@media only screen and (max-width: 800px) {
  .work-container {
    width: 300px;
  }
}

.work-container .work-media {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
}

.work-container .work-media img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.work-container .work-body {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

.work-container .work-title {
  width: 100%;
  font-size: 30px;
}

.work-container .work-techonologies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-container .work-techonologies p:first-child {
  padding: 7px 0px;
  font-size: 22px;
  font-weight: 400;
}

.work-container .work-techonologies p {
  padding: 5px 0;
}

.work-container .work-view-btn {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.work-container .work-view-btn:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 200ms;
  transition: width 200ms;
  width: 0;
  height: 2px;
  background: black;
}

.work-container .work-view-btn:hover::after {
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h3:first-child {
  text-transform: uppercase;
}

footer h3, footer a {
  font-size: 60px;
  color: white;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 640px) {
  footer h3, footer a {
    font-size: 29px;
    margin-bottom: 20px;
  }
}

.socials img {
  width: 37px;
  height: 37px;
}

.socials a {
  margin-right: 20px;
}

.socials a:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 640px) {
  .socials {
    margin-top: 10px;
  }
  .socials img {
    width: 30px;
    height: 30px;
  }
  .socials a {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=index.css.map */