@import url('/static/css/fonts.css');

:root {
    /* FONT/TEXT */
    --f-family: 'Josefin Sans', sans-serif;
    --title-f-size: 50px;
    --content-f-size: 20px;
    
    /* COLORS */
    --default: #ffffff;
    --primary: #000000;
    --secondary: #e4e2e2;


    /* URLS */
    --url-logo-image: "/static/images/logo.jpg";
    --url-working-image: "/static/images/luca-desktop-black-no-bg-small.png";

    /* MENU */
    --nav-bar-height: 75px;
}